
{{>privateNavbar}}

<div class="container d-flex flex-column align-items-center">
  <h1 class="display-4 mb-3 text-center">{{username}} - these are all your blog posts</h1>
  <a href="/dashboard/create" class="btn btn-success btn-lg m-4" id="add-post-btn">Add new post</a>
  </div>

<div class="container">

{{#if data.length}}
      <div
        class="container post-container d-flex flex-column align-items-stretch" id="my-posts-container"
      >
        {{#each data}}
        <div class="card border-success mb-3">
          <div class="card-header d-flex flex-row justify-content-between">
            <h4 class="card-title">{{title}}</h4>
            <div>
              <a class="btn btn-primary" href="/dashboard/edit/{{id}}" id="edit-post-btn" data-postId={{id}}>Edit</a>
              <button class="btn btn-danger" type="button" id="delete-post-btn" data-postId={{id}}>Delete</button>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Added on {{date}}</p>
          </div>
        </div>
        {{/each}}
      </div>

{{else}}

      <div
        class="container post-container d-flex flex-column align-items-stretch"
      >
        <div class="alert alert-warning">
        <h4 class="alert-heading text-center">You don't have any posts!</h4>
        <p class="mb-0 text-center"> You can get started and create your first post by clicking on the <a href="/dashboard/create" class="alert-link">"Add new post"</a> button!</p>
        </div>
      </div>

{{/if}}

</div>